a{
	text-decoration: none!important;
}
li{
	list-style: none;
}
.header{
	height: 60px;
	font-size: 14px;
	line-height: 60px;
	background-color: #05a;
}
.header_logo{
	display: inline-block;
	height: 60px;
	background: url(../images/fm.png) no-repeat;
	text-indent: -999em;
}
.header_nav a{
	display: block;
	height: 60px;
	color: #fff;
	text-align: center;
}
.header_nav a:hover{
	background-color: #06c;
}
.banner{
	margin-top: 10px;
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img{
	width: 1170px;
	height: 400px;
}
#nav_section{
	height: 40px;
	background: #222;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}
#nav_section a{
	color: #fff;
	display: inline-block;
}
#nav_section a:hover{
	background-color:#58B329;
}
#nav_section a i{
	margin-right: 6px;
}
#notice .title{
	height: 42px;
	border-bottom: 2px solid #e4e4e4;
	background-color: #fff;
}
#notice .title h1{
	color:#58B329;
	font-weight: bold;
	width: 80px;
	text-align: center;
	border-bottom: 2px solid #58B329;
}
.lists{
	margin-top: 20px;
}
.lists>ul{
	width: 820px;
	padding-left: 0;
}
.lists>ul>li{
	width: 262px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.lists>ul>li a{
	color: #000;
}
.lists>ul>li a:hover{
	color: #ED4E51;
}
.lists>ul>li a>img{
	width:260px;
	height: 200px;
}
.lists .details{
	padding-left:10px;
	width:262px;
	height:100px;
	overflow: ellipsis;
	background: #f8f8f8;
	font-size: 12px;
}
.lists .details p{
	overflow: ellipsis;
}